body {
    font-family: 'Times New Roman', Times, serif;
}
.header {
    background-color: #101010;
}
.nav {
    background-color: #101010;
}
.nav-links {
    background-color: #101010;
}
.nav-links:hover {
    background-color: #6BD0FF;
    transition: background-color 250ms;
    
}
a:hover {
    text-decoration: none;
    color: black;
}
a {
    color: white;
}
h1 {
    color: white;
}
.button {
    background-color: #1A74E2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 250ms;
    border-radius: 8px;
}
    .button:hover {
        background-color: #6BD0FF;
    }
.background-main {
    background-color: #1F2123;
}
h3 {
    color: white;
}
p {
    color: white;
}
h5 {
    color: white;
}
th {
    color: white;
}
td {
    color: white;
}



